/* Global body styling */
body {
  margin: 0;  /* Remove default margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  /* Set the font-family with multiple fallback options */
  -webkit-font-smoothing: antialiased;  /* Enhance font rendering for WebKit browsers (e.g., Safari) */
  -moz-osx-font-smoothing: grayscale;  /* Enhance font rendering for Firefox on macOS */
}

/* Code styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;  /* Set a monospace font for code elements with multiple fallback options */
}
